doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ManiStu || New Assessment
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css')
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='/style.css')
    script(src='https://unpkg.com/swiper/swiper-bundle.js')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    // Custom style
    style.
        .displayStudentInfo{
        bottom: 230px;
        }


.wrapper
    // Swiper
    include sidenav
    .swiper-container.swiper-container-h
        .swiper-wrapper
            .swiper-slide.add
                include studentInfo
                    div.addForm
                        form( action=`../assess/${student._id}/submit` method="post")
                            h4= 'Subject Lesson: '
                            input.rating( id = 'lesson' type='json', name='subject' value="")
                            h4= 'Name of Assessing Teacher: '
                            input.rating( id = 'teacherName' type='json', name='teacherName' value="")
                            h4= 'Lesson Rating: '
                            input.rating( id = 'rating' type='json', name='rating' value="")
                            h4= 'Assessment Comments:'
                            textarea.comments( cols="55" rows="5" id = 'comments' type='json' name='comments' value="")
                            button.submitAdd(id = 'add' type='submit' ) Submit




