doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ManiStu || Edit Assessment
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css')
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='/style.css')
    script(src='https://unpkg.com/swiper/swiper-bundle.js')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')

.wrapper
    // Swiper
    include sidenav
    .swiper-container.swiper-container-h
        .swiper-wrapper
            .swiper-slide
                include studentInfo
                    form(action="" method="get")
                        button(id = 'add' type='submit' formaction=`../assess/${student._id}`) Add Assessment
                    .swiper-container.swiper-container-v
                        .swiper-wrapper
                            each assessment,i in student.assessments
                                .swiper-slide
                                    div.editForm
                                        form( action=`../edit/${student._id}/${assessment._id}/submit` method="post")
                                            h3.subject=assessment.subject + ' Assessment'
                                            p= 'Assessment created by ' + assessment.teacherName + ' on ' + assessment.date
                                            p= 'Lesson Rating: '
                                            input.rating( id = 'rating' type='json' name='rating' value=assessment.rating)
                                            p= 'Assessment Comments:'
                                            textarea.comments( cols="55" rows="5" id = 'comments' type='json' name='comments' value=assessment.comments)
                                            button.submitEdit(id = 'edit' type='submit' ) Submit
                        .swiper-pagination.swiper-pagination-v
            // Add Pagination
        .swiper-pagination.swiper-pagination-h
// Swiper JS
// Initialize Swiper
script.
    var swiperH = new Swiper(".swiper-container-h", {
    spaceBetween: 50,
    pagination: {
    el: ".swiper-pagination-h",
    clickable: true,
    },
    });
    var swiperV = new Swiper(".swiper-container-v", {
    direction: "vertical",
    slidesPerView: '1',
    spaceBetween: 1000,
    navigation: {

    },
    mousewheel: true,
    pagination: {
    el: ".swiper-pagination-v",
    clickable: true,
    }
    });


// input.comments( id = 'comments' type='json' name='comments' value=assessment.comments)