doctype html
html
    // My CSS //
link(rel='stylesheet' href='/style.css')
include navbar

.wrapper
    include studentInfo

    
    each assessment,i in student.assessments ? student.assessments : ['There are no values']
        div.editStudentDisplay
            form( action=`../edit/${student._id}/${assessment._id}/submit` method="post")
                h3.subject=assessment.subject + ' Assessment'
                p= 'Assessment created by ' + assessment.teacherName + ' on ' + assessment.date
                p= 'Lesson Rating: '
                input.rating( id = 'rating' type='json', name='rating' value=assessment.rating)
                p= 'Assessment Comments:'
                input.comments( id = 'comments' type='json', name='comments' value=assessment.comments)
                button(id = 'edit' type='submit' ) Submit


